.result-notice {
  padding: 8px 8px 12px;
  margin-top: 13px;

  display: flex;
  flex-direction: row;

  background-color: var(--BackgroundSmoky);
  border-radius: 8px;
  gap: 8px;
}

.result-notice-Info {
  position: relative;

  cursor: pointer;
  justify-content: start;

  display: flex;
  flex-direction: column;
  gap: 2px;
  align-self: center;
}

.result-notice-Info p:hover + dialog {
  display: flex;
}

@media (max-width: 768px) {
  .result-notice {
    margin-top: 20px;
  }
}
