.payment {
  display: flex;
  flex-direction: column;

  margin-top: 17px;
  padding: 15px 24px 24px 24px;

  border-radius: 16px;
  background-color: var(--BackgroundWhite);
}

.payment__method {
  display: flex;
  justify-content: space-between;
}

.payment__method h2 {
  color: var(--BlackText);

  font-family: Segoe UI;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}

.payment__method button {
  border: 0;
  background-color: var(--Transparent);
  cursor: pointer;
  padding: 0;
  justify-self: end;
  align-self: end;
  color: var(--Accent);
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.payment__card {
  display: flex;
  justify-content: start;

  margin-top: 18px;
  margin-bottom: 7px;
}

.payment__card img {
  margin-right: 10px;
}

.payment__card p {
  margin-right: 12px;

  color: var(--BlackText);

  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.payment__info {
  color: var(--Gray);

  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
