.final-delivery__changes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 23px;
}

.final-delivery__adress{
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.final-delivery__adress p{
    color: var(--BlackText);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.final-delivery__adress span{
    color: var(--Accent);
    margin-top: 4px;

    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}