.product-discription {
  max-width: 275px;
  margin: 0 auto 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-discription__spec {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

#sizeNum{
  display: block;
}

.product-discription__org {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.product-discription__org-icon {
  justify-content: start;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.product-discription__orgnInfo{
  position: relative;
  cursor: pointer;
  justify-content: start;

  display: flex;
  flex-direction: row;
  align-self: center;
}

.product-discription__orgnInfo img:hover + dialog {
  display: flex;
}

@media (max-width: 768px) {

  .product-discription {
    grid-area: b;
    gap: 6px;
  }

  #sizeNum{
    display: none;
  }

  .product-discription__org-icon{
    display: none;
  }
}