.product-discription-mobile{
    flex-direction: column;
    margin-left: 16px;
}

.product-discription-mobile h4{
    color: var(--BlackText);

    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    align-self: stretch;

    margin-bottom: 8px;
}

.product-discription-mobile__spec{
    color: var(--BlackText);
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    margin-bottom: 8px;
}