.tabbar{
    display: none;
}

.tabbar img{
    width: 8.75vw;
    height:  8.75vw;
}

@media (max-width: 768px) {
    .tabbar{
        z-index: 10;
        position: fixed;

        box-shadow: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.30);
        backdrop-filter: blur(2.5px);
    
        bottom:0;
        display: flex;
        justify-content: space-between;
    
        align-items: center;
        height: 56px;
        background-color: var(--BackgroundWhite);
    
        width: calc(100% - 8.125vw);
        padding: 4.375vw 4.0625vw;
    }
}

