.product-quantity-mobile{
    width: 80px;
}


.product-quantity-mobile__btn {
  gap: 40px;
}

.product-quantity-mobile__control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;

  background-color: var(--BackgroundWhite);

  color: var(--BlackText);
  align-items: center;
}

.product-quantity-mobile__control-min{
    cursor: pointer;
    padding: 12px 0 12px 10px;
}

.product-quantity-mobile__control-max{
    cursor: pointer;
    padding: 12px 9px 12px 0;
}

.product-quantity-mobile__btn button {
  width: 44px;
  height: 44px;

  cursor: pointer;

  padding: 0;

  background-color: var(--Transparent);
  border: 0;
}

.product-quantity-row {
  display: flex;
  flex-direction: row;
  gap: 16px;

  align-items: center;
}
