.product-cart-mobile{
  display: flex;
  gap:12px;
}

.product-cart_row1{
  display: flex;
  flex-direction: row;
}


.product-cart-mobile {
  display: flex;
  flex-direction: column;
}



.product-cart-mobile__block {
  position: relative;
  width: 80px;
  height: 106px;
}


.product-cart-mobile__block button {
  position: absolute;
  left: 4px;
  top:4px;
}

.product-cart-mobile__block img{
  width: 80px;
  height: 106px;
  border-radius: 8px;
}

.product-cart__size{
  position: absolute;
  font-size: 14px;

  text-align: center;
  display: block;
  background-color: var(--White);

  left: 4px;
  bottom: 4px;
  width: 22px;
  height: 22px;
  border-radius: 6px;
} 


.product-cart_row2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-cart_row2 p {
  color: var(--Orange);
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}