header {
  background-color: var(--Violet);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 20px 16px 24px;
  color: var(--WhiteText);
}

header h1{
  color: var(--WhiteText);
  font-family: Segoe UI;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2.9px;
  line-height: .85714;
  font-variant: all-small-caps;
  text-transform: uppercase;
  width: 106px;
  flex-shrink: 0;

  margin-left: 16px;
}

header button {
  cursor: pointer;

  background-color: var(--Transparent);
  border: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 16px;
}

.header__menu button img{
  height: auto;
  width: auto;
  content: url(../../img/menuIcon.svg);
}

.header__menu button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.header__search {
  position: relative;
  width: 100%;

  margin: 0 32px;
  max-width: 970px;
  min-width: 594px;
}

.header__search input {
  position: relative;

  color: var(--WhiteText);
  font-size: 20px;

  width: 100%;
  max-width: 970px;
  min-width: 594px;
  height: 48px;
  box-sizing: border-box;

  border-radius: 36px;
  border: 0;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.header__search input::placeholder {
  opacity: 0.5;
  color: var(--WhiteText);
  font-family: Segoe UI;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;


  text-align: start;
}

.header__search button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 22px;
  height: 22px;

  top: 12px;
  right: 22px;

  position: absolute;
  opacity: 0.5;
}

.header__search button img {
  width: 22px;
  height: 22px;
}

.header__action {
  display: flex;
  flex-direction: row;
  align-items: end;
  
  width: 152px;
  gap: 44px;
}

.header__action p {
  color: var(--WhiteText);
  font-family: Segoe UI;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.header__action-profile {
  height: 48px;
  display: flex;
  gap:8px;

  flex-direction: column;


  align-items: center;
  padding: 0;
}

.header__action-profile img{
  height: 20px;
  width: 20px;
}

.header__action-basket {
  position: relative;
  height: 56px;

  display: flex;
  flex-direction: column;
  align-items: end;

  justify-content: end;

  padding: 0;
}


.header__action-basket img {
  position: absolute;

  left: 6px;
  bottom: 25px;

  width: 30px;
  height: 30px;
}

.header__action-basket p {
  padding-bottom: 2px;
}

.header__action-basket-count {
  color: var(--WhiteText);

  display: inline-flex;
  height: 16px;
  width: 16px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--system-orange, #f55123);

  text-align: center;
  font-family: Segoe UI;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 180% */

  z-index: 2;

  right: 4px;
  top: -4px;

  position: absolute;
}

.header__action-search{
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__search {
    width: 594px;
  }
  
  .header__search input {
    width: 594px;
  }

  .header__action {
    gap:43px;
  }
}

@media screen and (max-width: 1022px) {
  .header__search {
    width: 100%;
  }
  
  .header__search input {
    width: 100%;
  }

  .header__action {
    gap:43px;
  }
}


@media (max-width: 768px) {

  .header__search {
    display: none;
  }


  .header__menu button{
    width: 24px;
    border: 0;
  }

  .header__menu button img{
    height: 6.75vw;
    content: url(../../img/menuIconMobile.svg);
  }

  header{
    height: 18vw;
    padding: 0;
    margin: 0 4.0625vw;
    gap: 4.9vw;
    justify-content: space-between;
  }
  
  header h1 {
    display: block;

    color: var(--WhiteText);
    font-family: Segoe UI;
    font-weight: 600;
    font-variant: all-small-caps;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    width: auto;

    font-size: 7.38vw;
    letter-spacing: 1.2vw;
    line-height: 7.5vw;
    margin: 3.4375vw -0.75vw 6.5625vw;
    white-space: nowrap;
  }

  .header__action{
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0;
  }

  .header__action-profile, .header__action-basket{
    display: none;
  }

  .header__action-search{
    display: block;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
  }

  .header__action-search img{
    padding: 0;
    height: 6.75vw;
  }
}
