.delivery {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  padding: 15px 24px 24px 24px;

  border-radius: 16px;
  background-color: var(--BackgroundWhite);
}

.delivery__method {
  display: flex;
  justify-content: space-between;
}

.delivery__method button {
  border: 0;
  background-color: var(--Transparent);
  cursor: pointer;
  padding: 0;

  justify-self: end;
  align-self: end;
}

.delivery__info {
  margin-top: 18px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: start;

  gap: 16px;
}

.delivery__notice {
  display: flex;
  align-items: center;

  gap: 8px;
}